.left-col {
    /* background:#fff; */
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('http://bucket836.oss-cn-shenzhen.aliyuncs.com/wallpaper/381535373.jpeg') no-repeat 0% 20%/ cover;
    width:300px;
    position:fixed;
    opacity:1;
    transition:all .3s ease-in;
    -ms-transition: all .3s ease-in;
    height:100%;
    z-index:999
}
 .left-col #header a {
-    color:#696969
+    color:#673ab7^M
 }
 .left-col #header a:hover {
-    color:#b0a0aa
+    color: #03A9F4^M
 }
 .left-col #header .header-subtitle {
     text-align:center;
-    color:#999;
+    color:#673ab7;
     font-size:18px;
.article {
    margin: 30px;
    border: 1px solid #ddd;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: rgba(255,255,255,.5);
    transition: all .2s ease-in
}
body {
    margin:0;
    font-size:14px;
    font-family:Helvetica Neue, Helvetica, STHeiTi, Arial, sans-serif;
    line-height:1.5;
    color:#333;
    /* background-color:#fff; */
    min-height:100%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
    url('https://desk-fd.zol-img.com.cn/t_s960x600c5/g5/M00/02/00/ChMkJlbKw6KIXhXnAA4L-_oxRzUAALG6QBUSg8ADgwT181.jpg') no-repeat 0% 0%/ cover;
}

/* 手机端换用一张背景图片，可以不使用 */
@media screen and (max-width:800px) {
    body {
		background: url('https://oss.yansheng.xyz/your-name-phone2ys.jpg') no-repeat fixed top;
    }
